<!DOCTYPE html>
<html>
<head>
    <title>Primeiro Andar</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <div class="andar">
        <h1>Primeiro Andar</h1>
        <div class="portas">
            <div class="porta">1</div>
            <div class="porta">2</div>
            <div class="porta">3</div>
            <div class="porta">4</div>
            <div class="porta">5</div>
            <div class="porta">6</div>
            <div class="porta">7</div>
            <div class="porta">8</div>
        </div>
    </div>
</body>
</html>
