<!-- HTML temporário por @mcnonline #Aprendendo a desenvolver 1.0 -->
<!DOCTYPE html>
<html>
<head>
    <title>Gerenciamento de Quartos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"> </script>
	<!--
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script> -->
</head>
<body>
    <div class="andar">
        <h1>Térreo</h1>
        <div class="portas">
            <div class="porta vazio" onclick="alterarStatus(this)">01</div>
            <div class="porta vazio" onclick="alterarStatus(this)">02</div>
            <div class="porta vazio" onclick="alterarStatus(this)">03</div>
            <div class="porta vazio" onclick="alterarStatus(this)">04</div>
            <div class="porta vazio" onclick="alterarStatus(this)">05</div>
            <div class="porta vazio" onclick="alterarStatus(this)">06</div>
        </div>
    </div>

    <div class="andar">
        <h1>Primeiro Andar</h1>
        <div class="portas">
            <div class="porta vazio" onclick="alterarStatus(this)">11</div>
            <div class="porta vazio" onclick="alterarStatus(this)">12</div>
            <div class="porta vazio" onclick="alterarStatus(this)">13</div>
            <div class="porta vazio" onclick="alterarStatus(this)">14</div>
            <div class="porta vazio" onclick="alterarStatus(this)">15</div>
            <div class="porta vazio" onclick="alterarStatus(this)">16</div>
            <div class="porta vazio" onclick="alterarStatus(this)">17</div>
            <div class="porta vazio" onclick="alterarStatus(this)">18</div>
        </div>
    </div>

    <div class="andar">
        <h1>Segundo Andar</h1>
        <div class="portas">
            <div class="porta vazio" onclick="alterarStatus(this)">21</div>
            <div class="porta vazio" onclick="alterarStatus(this)">22</div>
            <div class="porta vazio" onclick="alterarStatus(this)">23</div>
            <div class="porta vazio" onclick="alterarStatus(this)">24</div>
            <div class="porta vazio" onclick="alterarStatus(this)">25</div>
            <div class="porta vazio" onclick="alterarStatus(this)">26</div>
            <div class="porta vazio" onclick="alterarStatus(this)">27</div>
            <div class="porta vazio" onclick="alterarStatus(this)">28</div>
        </div>
    </div>

    <div class="andar">
        <h1>Terceiro Andar</h1>
        <div class="portas">
            <div class="porta vazio" onclick="alterarStatus(this)">31</div>
            <div class="porta vazio" onclick="alterarStatus(this)">32</div>
            <div class="porta vazio" onclick="alterarStatus(this)">33</div>
            <div class="porta vazio" onclick="alterarStatus(this)">34</div>
            <div class="porta vazio" onclick="alterarStatus(this)">35</div>
            <div class="porta vazio" onclick="alterarStatus(this)">36</div>
            <div class="porta vazio" onclick="alterarStatus(this)">37</div>
            <div class="porta vazio" onclick="alterarStatus(this)">38</div>
        </div>
    </div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"> </script>
    <!--
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script> -->
	
	<script>

    <!-- Código JavaScript para Socket.IO -->
    var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

    socket.on('atualizacao_status', function(data) {
        var roomNumber = data.roomNumber;
        var status = data.status;
        var elements = document.querySelectorAll('.porta');

        elements.forEach(function(element) {
            if (element.textContent === roomNumber) {
                if (status === 'vazio') {
                    element.classList.remove("ocupado");
                    element.classList.add("vazio");
                } else {
                    element.classList.remove("vazio");
                    element.classList.add("ocupado");
                }
            }
        });
    });

    function alterarStatus(element) {
        var roomNumber = element.textContent;
        var status;

        if (element.classList.contains("vazio")) {
            status = 'ocupado';
        } else {
            status = 'vazio';
        }

        enviarStatus(roomNumber, status);
    }

    function enviarStatus(roomNumber, status) {
        fetch('/atualizar_status', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ roomNumber, status })
        })
        .then(response => {
                if (!response.ok) {
                    console.error('Erro ao atualizar o status');
                }
        });
    }
    
    </script>

</body>

